

@charset "utf-8";


@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) {
	
	
	
	
	
	
	#index{
	background-image:url(../img/indexbg.jpg);
background-repeat: no-repeat;
background-size: 100% 1024px;
width: 100%;
height: 1024px;;
	
	}
	


#text {
	
margin-top: 446px;
margin-left: 569px;
}

#text a {
	font-family: Cheddar Jack;
cursor: pointer;
color: white;
text-decoration: none;
letter-spacing: 3px;
font-size: 75px;
word-spacing: 2px;
margin-left: -386px;
margin-top: 2px;
}



#logo {
background-image: url(../img/hometransnew.png);
background-repeat: no-repeat;
background-size: 291px 145px;
height: 162px;
width: 303px;
margin-top: -267px;
margin-left: 338px;
cursor: pointer;
}
	
	
	
	
	
	
	
	#emily{
	background-image: url(../img/whoweare.jpg);
background-repeat: no-repeat;
background-size: 100% 1024px;
width: 100%;
height: 1024px;
	
}
	
	#titleemily
{
	padding-top: 62px;
font-family: Orator Std Medium;
color: white;
font-size: 26px;
letter-spacing: 5px;
margin-top: 5px;
margin-left: 112px;
}

#Emilylogo
{

background-repeat: no-repeat;
background-size: 291px 145px;
height: 162px;
width: 229px;
margin-top: -115px;
margin-left: 424px;
cursor: pointer;
}
#imgemily
{
	padding-top: 4px;
margin-left: 64px;
	}

#caption
{
font-family: "Orator Std Medium";
font-size: 16px;
text-align: center;
color: black;
word-spacing: 2px;
letter-spacing: 3px;
margin-left: -388px;
margin-top: 19px;
	
}

#contemily
{
font-family: "Orator Std Medium";
font-size: 19px;
text-align: center;
color: white;
word-spacing: 0px;
letter-spacing: 0px;
margin-left: -391px;
margin-top: 34px;
line-height: 2.0;
	
}
#backemily
{
background-repeat: no-repeat;
width: 33px;
height: 159px;
background-size: 60px 155px;
margin-top: -79px;
margin-left: -20px;
margin-bottom: 0px;
cursor: pointer;
}
	
	#titlemeli
{
	padding-top: 62px;
font-family: Orator Std Medium;
color: white;
font-size: 26px;
letter-spacing: 5px;
margin-top: 5px;
margin-left: 112px;
}

#melilogo
{

background-repeat: no-repeat;
background-size: 291px 145px;
height: 162px;
width: 229px;
margin-top: -115px;
margin-left: 424px;
cursor: pointer;
}
#imgmeli
{
	padding-top: 4px;
margin-left: 64px;
	}

#captionmeli
{
font-family: "Orator Std Medium";
font-size: 16px;
text-align: center;
color: black;
word-spacing: 2px;
letter-spacing: 3px;
margin-left: -388px;
margin-top: 19px;
	
}

#contmeli
{
font-family: "Orator Std Medium";
font-size: 19px;
text-align: center;
color: white;
word-spacing: 0px;
letter-spacing: 0px;
margin-left: -391px;
margin-top: 34px;
line-height: 2.0;
	
}
#backmeli
{
background-repeat: no-repeat;
width: 33px;
height: 159px;
background-size: 60px 155px;
margin-top: -79px;
margin-left: -20px;
margin-bottom: 0px;
cursor: pointer;
}
	
	#titleadri
{
	padding-top: 62px;
font-family: Orator Std Medium;
color: white;
font-size: 26px;
letter-spacing: 5px;
margin-top: 5px;
margin-left: 112px;
}

#adrilogo
{

background-repeat: no-repeat;
background-size: 291px 145px;
height: 162px;
width: 229px;
margin-top: -115px;
margin-left: 424px;
cursor: pointer;
}
#imgadri
{
	padding-top: 4px;
margin-left: 64px;
	}

#captionadri
{
font-family: "Orator Std Medium";
font-size: 16px;
text-align: center;
color: black;
word-spacing: 2px;
letter-spacing: 3px;
margin-left: -388px;
margin-top: 19px;
	
}

#contadri
{
font-family: "Orator Std Medium";
font-size: 19px;
text-align: center;
color: white;
word-spacing: 0px;
letter-spacing: 0px;
margin-left: -391px;
margin-top: 34px;
line-height: 2.0;
	
}
#backadri
{
background-repeat: no-repeat;
width: 33px;
height: 159px;
background-size: 60px 155px;
margin-top: -79px;
margin-left: -20px;
margin-bottom: 0px;
cursor: pointer;
}


#Contactus{
	background-image: url(../img/newContact.jpg);
background-repeat: no-repeat;
background-size: 100% 1024px;
width: 100%;
height: 1024px;
	
}

	#weblink
{
color: white;
font-family: "Orator Std Medium";
text-align: center;
text-decoration: none;
margin-left: -395px;
font-size: 19px;
text-align: center;
letter-spacing: 3px;
margin-top: 20px;


}

#titlecontactus
{font-family: "Cheddar Jack";
font-size: 66px;
color: white;
margin-top: 109px;
margin-left: 57px;
}
	
	

#emailcontactus
{
	font-family: "Orator Std Medium";
color: white;
text-decoration: none;
margin-left: 165px;
margin-top: -40px;
letter-spacing: 5px;
margin-left: 65px;
margin-top: -16px;
word-spacing: 6px;
font-size: 35px;
}


#socialmediacontactus
{
	font-family: "Cheddar Jack";
font-size: 54px;
color: white;
margin-left: 52px;
margin-top: 3px;
}

#facebook
{
	background-image: url(../img/fbtrans.png);
background-repeat: no-repeat;
background-size: 100px 100px;
height: 100px;
width: 100px;
margin-left: 124px;
margin-top: 45px;
cursor: pointer;
	
}
#Instagram
{
background-image: url(../img/instatrans.png);
background-repeat: no-repeat;
background-size: 100px 100px;
height: 100px;
width: 100px;
margin-left: 124px;
margin-top: 69px;
cursor: pointer;
}

#twitter
{
background-image: url(../img/twitertrans.png);
background-repeat: no-repeat;
background-size: 100px 100px;
height: 100px;
width: 100px;
margin-left: 129px;
margin-top: 82px;
cursor: pointer;	
	
}
	#backcontactus
{

background-repeat: no-repeat;
width: 44px;
height: 155px;
margin-bottom: 0px;
margin-top: -30px;
margin-left: -31px;
cursor: pointer;
}

#logo1
{
background-repeat: no-repeat;
background-size: 291px 145px;
height: 162px;
width: 303px;
margin-top: -235px;
margin-left: 427px;
cursor: pointer;
}
	
	
	
	#Library {
background-image: url(../img/whoog.jpg);
background-repeat: no-repeat;
background-size: 399px 512px;
height: 512px;
width: 395px;
}

#Library:hover {
 background-image: url(../img/whodk.jpg);
background-repeat: no-repeat;
background-size: 399px 512px;
height: 512px;
width: 395px;
}



#Library1 {
 background-image: url(../img/whatog.jpg);
height: 512px;
width: 384px;
background-repeat: no-repeat;
background-size: 384px 512px;
margin-left: 397px;
margin-top: -514px;
}

#Library1:hover {
  background-image: url(../img/whatdk.jpg);
height: 512px;
width: 384px;
background-repeat: no-repeat;
background-size: 384px 512px;
margin-left: 397px;
margin-top: -514px;
}
	#Library2 {
background-image: url(../img/howog.jpg);
height: 530px;
width: 402px;
background-repeat: no-repeat;
background-size: 396px 531px;
margin-left: -1px;
}

#Library2:hover {
 background-image: url(../img/howdk.jpg);
height: 530px;
width: 402px;
background-repeat: no-repeat;
background-size: 396px 531px;
margin-left: -1px;
}

#Library3 {
background-image: url(../img/contactog.jpg);
height: 538px;
width: 384px;
background-repeat: no-repeat;
background-size: 384px 529px;
margin-top: -529px;
margin-left: 397px;
}

#Library3:hover {
background-image: url(../img/contactdk.jpg);
height: 538px;
width: 384px;
background-repeat: no-repeat;
background-size: 384px 529px;
margin-top: -529px;
margin-left: 397px;
}

#w1
{

font-family:"Cheddar jack";
font-size:80px;
color:white;	
text-decoration:none;
margin-left:188px;


}
#w2
{
margin-top:334;
font-family:"Cheddar jack";
font-size:80px;
color:white;	
text-decoration:none;
margin-left:190px;
margin-top:7px;

}
#w3
{
margin-top: 334;
font-family: "Cheddar jack";
font-size: 80px;
color: white;
text-decoration: none;
margin-left: 51px;
margin-top: -11px;
letter-spacing: -2px;
word-spacing: 9px;

}
#w4
{
margin-top: 334;
font-family: "Cheddar jack";
font-size: 80px;
color: white;
text-decoration: none;
margin-left: 51px;
margin-top: 1px;
}
.darken
{
	opacity:1;
	text-align:center;
	text-decoration:none;
	

}
#Library>a{ display: none;}
#Library:hover>a{ display: block;
text-decoration: none;
text-align: center;
margin-left: 27px;
margin-top: 66px;


}
#Library1>a{ display: none;}
#Library1:hover>a{ display: block;
text-decoration: none;
text-align: center;
margin-left: 27px;
margin-top: 66px;
}


#Library2>a{ display: none;}
#Library2:hover>a{display: block;
text-decoration: none;
text-align: center;
margin-left: 2px;
margin-top: 33px;


}
#Library3>a{ display: none;}
#Library3:hover>a{ display: block;
display: block;
text-decoration: none;
text-align: center;
margin-left: 2px;
margin-top: 42px;


}


	

}
